<html lang='es'>
  <head>
    <title>Library</title>
    <meta charset='utf-8' />

  </head>

  <body
    style="font-family: 'Roboto', Arial, Helvetica,
      sans-serif;text-align: center;"
  >
    <div class='container' style='margin: 0 auto;max-width: 600px;'>
      <p
        class='user'
        style='font-size: 16px;color: #333;margin-bottom: 40px;'
      >¡Hola, <strong>{{senderName}}</strong>!</p>
      <p class='user' style='font-size: 16px;color: #333;margin-bottom: 40px;'>
        Debido a que aun no has devuelto el libro <strong>{{book}}</strong>, se ha extendido tu plazo a 15 dias mas, con un costo extra de $<strong>{{extendsPrice}}</strong>
      </p>

        <div
          class='email_info_wrapper'
          style='width: 100%;clear: both;text-align: center;margin: 0 auto;'
        >

          <p
            class='farewell-message'
            style='font-size: 16px;color: #253887;font-style: italic;margin-bottom: 40px;'
          >¡Que tengas un lindo día!</p>
        </div>
      </div>
    </div></body>
</html>